<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home" routerLinkActive="selected">
      <ion-icon name="home"></ion-icon>
     Home
    </ion-tab-button>
    <ion-tab-button tab="pedidos" routerLink="/pedidos" routerLinkActive="selected">
      <ion-icon name="location"></ion-icon>
      Local
    </ion-tab-button>
    <ion-tab-button tab="pedido-detalhes" routerLink="/pedido-detalhes" routerLinkActive="selected">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      config
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
